*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.HomeHeader{
    background: black;
    padding: 10px 20px;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.HomeHeader a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: auto;
    white-space: nowrap;
}
section {
    position: relative;
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.statement {
    position: absolute;
    max-width: 300px; 
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 2;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

@media (max-width: 768px) {
    .statement {
        max-width: 250px; 
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 100;
}

.dropdown-content, .submenu-content {
    display: none;
    position: absolute;
    background-color: grey;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a, .submenu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 100;
}

.dropdown:hover .dropdown-content, .submenu:hover .submenu-content {
    display: block;
}

.submenu {
    position: relative;
}

.submenu-content {
    top: 0;
    left: 100%; 
}